@use "variables" as * ;
@mixin media($media){
    @media (min-width:map-get($breakpoint ,$media)) {
        @content;
    }
}

/* flex between */
@mixin flexBetween(){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
