@use "../utilities" as *;
.card-column{
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;
        z-index: 5;
        max-width: 350px;
      /* delte this margin in the new version*/
       margin: 50px 100px;
        .card-header{
        width: fit-content;
        height: fit-content;
        font-family: $font;
        font-weight: 500;
        max-width: 400px;
        color: $white;
        font-size: 1.2rem;
       span{
        color: $orange;
       }
      }
    .card-body{
        width: fit-content;
        height: fit-content;
        font-family: $font;
        color: $white;
        font-size: 0.96rem;
        line-height: 2rem;
    }
    .card-footer{
        width: fit-content;
        height: fit-content;
    }
  }